@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');

/* font-family: 'Outfit', sans-serif; */
*,
:after,
:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: none;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--outfit-font);
    font-size: var(--base-font);
    line-height: 1.35;
    background-color: var(--primary-100);
    color: var(--secondary-100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--outfit-font);
    line-height: 1.2;
    color: var(--secondary-100);
    margin-top: 0;
    margin-bottom: 1rem;
}

h1 {
    font-size: var(--h1-font);
}

h2 {
    font-size: var(--h2-font);
}

h3 {
    font-size: var(--h3-font);
}

h4 {
    font-size: var(--h4-font);
}

h5 {
    font-size: var(--h5-font);
}

h6 {
    font-size: var(--h6-font);
}

a {
    display: inline-block;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color: var(--white-color);
}

img {
    max-width: 100%;
    height: auto;
}

input,
select,
textarea,
button,
a {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

::-moz-selection {
    color: var(--primary-100);
    background: var(--secondary-100);
    text-shadow: none
}

::selection {
    color: var(--primary-100);
    background: var(--secondary-100);
    text-shadow: none
}

::-webkit-scrollbar {
    width: 4px;
    background: var(--secondary-100);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    width: 4px;
    background: var(--primary-100);
    border-radius: 12px;
}

section {
    height: auto;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 15px;
    width: 100%;
}

p {
    color: var(--gray-color);
}

/* ---------------- main css start here ---------------- */
section.qr_code-banner {
    min-height: calc(100vh - 54px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-block: 50px;
}

.qr-code-wrapper {
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    max-width: 350px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 16px;
    transition: all 0.3s linear;
    cursor: col-resize;
}

.qr-code-wrapper:hover {
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.25);
}

.qr-image img {
    border-radius: 12px;
    width: 100%;
    min-height: 200px;
}

.qr-description {
    text-align: center;
    padding: 1.5rem 1rem;
}

footer {
    background-color: var(--secondary-200);
    text-align: center;
    padding: 1rem;
    color: var(--white-color);
    font-weight: 300;
}

footer a {
    color: var(--white-color);
    font-weight: 500;
    position: relative;
    transition: all 0.25s linear;
}

footer a::after {
    content: "";
    height: 1px;
    width: 0;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.25s linear;
}

footer a:hover::after {
    width: 100%;
}


@media screen and (max-width: 767px) {
    section.qr_code-banner {
        min-height: auto;
    }
}